/**
 * normalize css
 */
html, body{
  height: 100%;
  width: 100%;
  font-size: 16px;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  //color: $font-color;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (max-width: 1400px) {
  html, body {
    font-size: 12px;
  }
}

@import "./iconfont.css";
