
// 绝对居中，请注意父元素设置position: relative
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 清除浮动
@mixin clearFix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

// 超出容器宽度的文本省略...
@mixin textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//设置等距离宽度，默认margin-right
@mixin setEqualInterval($interval: 1rem, $marginDirection: right) {
  > * {
    @if $marginDirection == right {
      margin-right: $interval;
      &:last-child {
        margin-right: 0;
      }
    } @else if $marginDirection == left {
      margin-left: $interval;
      &:first-child {
        margin-left: 0;
      }
    } @else if $marginDirection == down {
      margin-bottom: $interval;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
