/* 全局尺寸 */
$normal-padding: 1rem;

$nav-width: 16rem;
$normal-input-height: 2.5rem;
$normal-input-width: 11.25rem;
$pagination-height: 2.5rem;

/* 主体颜色 */
$main-color: #3d7dff;

$border-color: #a3a7af;
$border-color-active: #3d7dff;
$background-color: #f2f5fa;
$common-border-radius: 4px;
$common-border: solid 1px $border-color;

$hover-color: #e5eeff;

/* 字体颜色 */
$font-color: #5e5e5e;
$font-size: 1rem;
$small-font-size: .9rem;
$color-success: #67c23a;
$color-warning: #f56c6c;

/*icon图标颜色*/
$icon-content_icon_required: #f56c6c;
