.app {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 1300px;
  $header-height: 3rem;

  // 页面标题栏
  .app-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    box-shadow: 0 5px 5px #e5e5e5;
    @include clearFix;

    .app-header--left{
      height: 100%;
      float: left;
      display: flex;
      align-items: center;

      .app-title{
        display: flex;
        align-items: center;
        width: $nav-width;
        height: 100%;
        padding-left: 2rem;
        padding-right: 1rem;
        margin-right: 2rem;
        background-color: #f2f6fc;
        line-height: $header-height;
        font-size: 1.1rem;
        font-weight: bold;
        > *{
          color: $main-color;
        }
        >span{
          display: block;
          flex: 1;
        }
        > .iconfont{
          margin-left: auto;
          cursor: pointer;
        }
      }
    }

    .app-header--right {
      height: 100%;
      float: right;
      padding-right: 2rem;
      display: flex;
      align-items: center;
      .app-header_user {
        color: $main-color;
      }
      .app-header_split {
        display: block;
        width: 0;
        height: 1.5rem;
        border-left: 2px solid #e3f0ff;
        margin: 1.5rem;
      }
      .app-logout  {
        display: flex;
        align-items: center;
        height: $header-height;
        cursor: pointer;
        > span{
          color: $main-color;
        }
        > img{
          width: 1.2rem;
          height: 1.2rem;
          margin-right: .5rem;
        }
      }
    }
  }
  .app-content{
    display: flex;
    padding-top: $header-height;
    height: 100%;
    .app-side-bar{
      width: $nav-width;
      height: 100%;
      overflow: auto;
      transition: width 0.3s;
      // 拓展图标
      &.collapse{
        width: 4rem;
      }
    }
    .app-main{
      width: 0;
      flex: 1;
      height: 100%;
      padding: $normal-padding;
      background-color: #f2f5fa;
      overflow: auto;

      .main-container{
        width: 100%;
        height: 100%;
        overflow: auto;
        //min-height: 600px;
        &.has-search{
          //display: flex;
          position: relative;
        }
        // 页面侧边搜索区域
        .main-search{
          position: absolute;
          top: 0;
          left: 0;
          width: 16rem;
          height: 100%;
          background-color: #FFF;
          flex-shrink: 0;
          padding: $normal-padding;

          &__title{
            padding-bottom: $normal-padding;
            font-weight: bold;
          }
        }
        .main-content{
          width: 100%;
          //flex: 1;
          height: 100%;
          padding-left: 17rem;
          overflow: auto;
        }
      }
    }
  }

  .el-pagination {
    padding-top: .5rem;
  }
}


// 编辑/添加页面样式
.edit-wrmainer{
  height: 100%;

  .edit-header{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    &__title{
      font-size: 1.125rem;
      font-weight: bold;
      margin-right: 1rem;
    }
  }

  .edit-content{
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

// popper样式
.row-popper {
  .row-popper__content {
    max-height: 50vh;
    overflow: auto;
  }
}

.eg-box {
  .eg-box__header {
    .eg-box__header--left {
      //display: flex;
      //justify-content: flex-start;
      //align-items: center;
      @include setEqualInterval(1rem);
    }
  }
}

// 带分页的表格容器样式
.table-wrmainer{
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: $pagination-height;

  .el-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}
